<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <input id="email" placeholder="johny@iamcool.com" />
    <input id="password" type="password" placeholder="Enter your password" />

    <div id="signinError" class="error">Invalid credentials</div>

    <button id="signinButton">Signin</button> or
    <a href="http://localhost:3001/signup" target="_blank">Register</a>

    <p id="companyName"></p>
    <script type="text/javascript" src="login.js"></script>
  </body>
</html>
